/** empty css file for component consistency **/

.about {
    width: 80%;
    max-width: 710px;
    margin: 4rem auto;
}

@media only screen and (max-width: 500px) {
    .about {
        width: 90%;
        margin: 1rem auto;
    }
}