
.main-nav {
    position: relative;
    /*padding: 35px 40px;*/
    padding: 40px 60px;
    height: 100px;
    /*margin: 0 0 30px;*/

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-bar {
    display: flex;
    align-items: center;
}

.nav-bar{
    position: relative;
    z-index: 100;

    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: justify;
    justify-content: flex-start;
}

.nav-item{
    padding: 20px;
}
.nav-item .active {
    font-weight: 700;
    border-bottom: 3px solid #3d88dd;
}
.nav-item:first-child {
    padding-left: 0;
}

.main-nav a {
    text-decoration: none;
    font-family: 'IBM Plex Sans', 'Open Sans', sans-serif;
}

/* Special styles when overlaid on an image */
.main-nav.overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 70px;
    border: none;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0) 100%);
}

.no-cover .main-nav.overlay {
    background: none;
}

/* ==========================================================================
       Media Queries - Smaller than 500px
   ========================================================================== */

@media only screen and (max-width: 500px) {

    .main-nav {
        padding: 0 15px;
        margin-bottom: 2rem;
    }

    .nav-item{
        padding: 10px;
        font-size: 14px;
    }

    .main-nav.overlay a:hover {
        color: #fff;
        border-color: transparent;
        background: transparent;
    }

    .no-cover .main-nav.overlay {
        background: none;
    }
}
